<div flex ng-controller="todoController" layout="column" layout-align="center center">

    <div style="width: 50%;" layout="row" layout-align="space-between center">

        <md-select ng-model="selectededFilter" placeholder="Apply Filters">
            <md-option ng-value="'DONE'">COMPLETED</md-option>
            <md-option ng-value="'NOTDONE'">INCOMPLETE</md-option>
            <md-option ng-value="">ALL</md-option>

        </md-select>

        <md-button ng-click="editTask({})" class="md-icon-button md-primary" aria-label="Settings">
            <i class="fa fa-plus-square fontsize30"></i>
        </md-button>


    </div>


    <div flex="50" layout="column" layout-align="center center">
        <md-card layout="row" ng-repeat="task in taskList | filter:{ status: selectededFilter}:true" class="todo-task-card-size" flex>
            <div flex="85">
                <div layout="row" class="task-head-style">

                    <b><span>
                        {{task.name}}
                    </span></b>
                    <md-tooltip md-direction="top">{{task.name}}
                    </md-tooltip>

                </div>
                <md-card-content class="task-desc-style">
                    <p>
                        {{task.description}}
                    </p>

                </md-card-content>
            </div>
            <div layout="column" flex="15">
                <md-card-actions layout="row" flex="80">

                    <md-button ng-click="deleteTask(task, $index)" class="md-icon-button" aria-label="Favorite">
                        <i class="fa fa-trash red-color"></i>
                    </md-button>
                    <md-button ng-click="editTask(task, $index)" class="md-icon-button md-primary" aria-label="Settings">
                        <i class="fa fa-edit"></i>
                    </md-button>
                    <input ng-click="setTaskDone(task)" ng-disabled="task.status=='DONE'" ng-checked="task.status=='DONE'" type="checkbox" name="vehicle" value="Bike">
                </md-card-actions>

                <span class="username-style orange-color"><i style="margin-left: 20px;" class="fa fa-user"></i> {{task.owner.name}}</span>

            </div>


        </md-card>

    </div>


</div>